.__login{
    height: 100vh;
    width: 100vw;

    background-image: url('../../assets/img/internet.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  

    .__image-overlay{
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        
        
    
    }
    .__input{
        border-bottom: 1px solid gray;
    }


}